@import "tailwindcss";

@theme {
  --spacing: 0.0625rem; /* 1px */

  --color-primary: #F95050;
  --color-primary-50: #FEEBEB;
  --color-primary-100: #FEDADA;
  --color-primary-200: #FDB8B8;
  --color-primary-300: #FB9595;
  --color-primary-400: #FA7373;
  --color-primary-500: #F95050;
  --color-primary-600: #F71A1A;
  --color-primary-700: #D20707;
  --color-primary-800: #9B0505;
  --color-primary-900: #650303;
  --color-primary-950: #4A0303;

  --font-family-inter: var(--font-inter);
}

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    font-family: var(--font-inter), "Inter", "Verdana", sans-serif;
    overflow-x: hidden;
    background-color: #F8F8F8;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

body {
  height: 100vh;
}
